<section class="section section-about" id="about">
  <div class="container">
    <h2 class="title">ABOUT THIS GAME</h2>
    <div class="wrapper-about">
      <picture class="img-about">
        <source
          media="(max-width: 1439.99px)"
          srcset="./img/about/about-mob.png"
          width="288"
          height="305"
        />
        <img
          src="./img/about/about.png"
          alt="Image about 1"
          width="621"
          height="724"
        />
      </picture>
      <div class="text-wrapper-about">
        <p>
          Forest Rescue 2 is an engaging match-3 puzzle game where players help
          adorable forest creatures defeat pesky beavers that threaten their
          home.
        </p>
        <p>
          With vibrant graphics and immersive nature-themed levels, it provides
          a delightful puzzle-solving experience.
        </p>
        <load ="partials/components/googlePlay.html" />
      </div>
    </div>
  </div>
</section>
