<section class="section">
  <div class="container disclaimer-container">
    <h1 class="title disclaimer-title">DISCLAIMER</h1>
    <div class="content-bg">
      <div class="disclaimer-content">
        <p class="description">
          PLINKOWINMATCH.COM IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF WINNING PLAYING THIS GAME CANNOT BE CONSIDERED THE SAME AS WINNING IN REAL LIFE GAMES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY PLAYING THIS GAME!
        </p>
      </div>
    </div>
  </div>
</section>
