<section id="hero" class="section hero">
  <div class="container hero-wrapper">
    <div class="text-wrapper">
      <div>
        <h1 class="hero-title">
          Forest Rescue 2 <br /><span>Friends United</span>
        </h1>
        <p>Unlock nature's magic in Forest Rescue 2!</p>
      </div>

      <a
        href="https://play.google.com/store/apps/details?id=air.com.qublix.forestrescuetwo"
        class="google-play"
        rel="noopener noreferrer"
        та
        target="_blank"
      >
        <img src="../img/icons/group-black.svg" alt="Google Play" />
      </a>
    </div>
    <div class="image-wrapper">
      <picture class="first-img">
        <source
          media="(max-width: 1439.99px)"
          srcset="../img/hero/image1-hero-mob.png"
          width="270"
          height="141"
        />
        <img src="../img/hero/image1-hero.png" alt="Image hero 1" />
      </picture>

      <picture class="second-img">
        <source
          media="(max-width: 1439.99px)"
          srcset="../img/hero/image2-hero-mob.png"
        />
        <img src="../img/hero/image2-hero.png" alt="Image hero 2" />
      </picture>
    </div>
  </div>
</section>
