<section class="section section-how" id="howToPlay">
  <div class="container">
    <h2 class="title">How to Play</h2>
    <div class="wrapper-how">
      <picture class="img-how">
        <source
          media="(max-width: 1439.99px)"
          srcset="../img/how-play/img-mob.png"
          width="288"
          height="307"
        />
        <img
          src="../img/how-play/img.png"
          alt="Image how to play"
          width="659"
          height="664"
        />
      </picture>
      <div class="text-wrapper-how">
        <ul class="list-how">
          <li class="item-how">
            <h3>Match-3 Mechanics:</h3>
            <p>
              Swap adjacent pieces to form a line of three or more similar items
              to clear them from the board. 
            </p>
          </li>
          <li class="item-how">
            <h3>Special Combos:</h3>
            <p>
              Create powerful combinations with four or more items to unlock
              special boosters. 
            </p>
          </li>
          <li class="item-how">
            <h3>Objectives:</h3>
            <p>
              Complete various objectives like clearing obstacles or collecting
              specific items to progress through levels. 
            </p>
          </li>
          <li class="item-how">
            <h3>Limited Moves:</h3>
            <p>
              Limited Moves: Solve puzzles within a set number of moves to
              achieve high scores and earn rewards. 
            </p>
          </li>
          <li class="item-how">
            <h3>Environmental Challenges:</h3>
            <p>
              Overcome unique environmental challenges that add complexity to
              the puzzles.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
