.policy-section {
  padding: 96px 0 32px 0;
  text-align: center;

  @include media(desktop) {
    padding: 187px 0 80px 0;
  }
}

.policy-title {
  margin-bottom: 24px;

  @include media(desktop) {
    margin-bottom: 40px;
  }
}

.policy-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: start;

  @include media(desktop) {
    gap: 32px;
  }
}

.title-secondary {
  font-weight: 700;
  margin-bottom: 8px;

  @include media(desktop) {
    font-size: 26px;
  }
}

.policy-text {
  font-size: 12px;

  @include media(desktop) {
    font-size: 18px;
  }
}

.policy-text__accent {
  font-weight: 700;
}