.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-title {
  margin-bottom: 28px;

  @include media(desktop) {
    margin-bottom: 72px;
  }
}

.reviews-list {
  display: none;

  @include media(desktop) {
    display: flex;
    margin: 0 auto;
    width: 1248px;
    height: 310px;
    gap: 43px;
  }
}

@include media(desktop) {
  .reviews-li:nth-child(even) {
    transform: translateY(40px);
  }
}

.reviews-li {
  position: relative;
  width: 250px;
  height: 226px;
  padding: 65px 0px 28px 0px;
  border-radius: 28px;
  background: $_linear_white;

  @include media(desktop) {
    width: 280px;
    height: 270px;
    padding: 79px 16px 30px 16px;
  }
}

.reviews-li::before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 28px;
  content: '';
  background-image: url('/img/icons/stars.svg');
  background-repeat: no-repeat;
  width: 100px;
  height: 21px;
  @include media(desktop) {
    left: 16px;
    transform: translateX(0%);
    top: 30px;
    width: 140px;
    height: 29px;
  }
}

.reviews-li-0 {
  border: 3px solid $_brown;
}

.reviews-li-1 {
  border: 3px solid $_red;
}

.reviews-li-2 {
  border: 3px solid $_orange;
}

.reviews-li-3 {
  border: 3px solid $_yellow;
}

.reviews-box {
  width: 218px;
  margin-left: auto;
  margin-right: auto;
  @include media(desktop) {
    width: 247px;
    margin-left: 0;
  }
}

.reviews-user {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;

  @include media(desktop) {
    flex-direction: row;
  }
}

.reviews-avatar__box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  @include media(desktop) {
    width: 56px;
    height: 56px;
  }
}
.reviews-avatar {
  object-fit: cover;
}

.reviews-description {
  margin-bottom: 34px;
  text-align: center;

  @include media(desktop) {
    font-size: 18px;
    text-align: start;
  }
}
