.swiper-container {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.swiper-container__gallery {
  height: 501px;

  @include media(desktop) {
    width: 1284px;
    height: 543px;
  }
}

.swiper-container__reviews {
  height: 270px;

  @include media(desktop) {
    display: none;
  }
}

.swiper {
  overflow: visible !important;
}
.swiper1 {
  width: 260px;
  margin-top: 10px;

  @include media(desktop) {
    width: 1248px;
    height: 460px;
    margin-top: 72px;
  }
}

.swiper2 {
  width: 250px;
}

.swiper-wrapper {
  display: flex;
  width: 1248px;
  align-items: center;
}

.swiper-slide {
  border-radius: 28px;
  overflow: hidden;
}

.swiper-slide__gallery {
  width: 260px;
  height: 460px;
  box-shadow: 0px 0px 16px 0px $_light_green;
}

.swiper-slide__reviews {
  width: 250px !important;
  height: 226px;
}

.slide__img {
  object-fit: cover;
}

.swiper-button-next {
  position: fixed;
  right: -18px !important;
}

.swiper-button-prev {
  left: -18px !important;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;

  position: relative;
  display: flex;
  width: 35px !important;
  height: 65px !important;
  border-radius: 8px;
  background: $_stroke;

  transition: all 0.3s ease;

  &:hover {
    background: $_linear_yellow;
  }

  &:active {
    background: $_yellow;
  }

  &:focus {
    background: $_yellow;
  }

  &::before {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 29px !important;
    height: 59px !important;

    border-radius: 8px;
    background: url('/img/arrow.svg') no-repeat center center, $_light_green;
    backdrop-filter: blur(38.073px);
    z-index: -1;
    content: '';
    display: block;
    background-position: center;
  }
  &.swiper-button-next::before {
    background: url('/img/arrow.svg') no-repeat center center, $_medium_green;
    transform: translate(-50%, -50%) rotate(180deg);
  }

  &::after {
    display: none;
  }

  @include media(desktop) {
    display: block !important;
  }
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 56px !important;
  background: $_light_green !important;
}

.swiper-pagination-bullet {
  display: inline-block;
  width: 15px !important;
  height: 4px !important;
  margin: 0 4px !important;

  border-radius: 5px !important;
  background: $_light_green !important;
  opacity: 1 !important;

  @include media(desktop) {
    display: none !important;
  }
}

.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -32px !important;
}

.swiper2 .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: $_orange !important;
}
.swiper2 .swiper-pagination-bullet {
  background: $_orange !important;
}
