@import './header.scss';
@import './hero.scss';
@import './slider.scss';
@import './gallery.scss';
@import './reviews.scss';
@import './benefits';
@import './disclaimer.scss';
@import './mobileMenu.scss';
@import './footer.scss';

@import './common/fonts';
@import './common/vars';
@import './common/mixins';

:root {
  font-family: 'Roboto Flex', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: normal;
  font-weight: 500;

  color: $_white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @include media(desktop) {
    font-size: 22px;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: $_bg_mobile no-repeat center center fixed;
  background-size: cover;
  @include media(desktop) {
    background: $_bg_desktop no-repeat center center fixed;
    background-size: cover;
    background-clip: content-box;
  }
}

body.no-scroll {
  overflow: hidden;
}

.container {
  width: 288px;
  margin: 0 auto;
  @include media(desktop) {
    width: 100%;
    padding-left: 96px;
    padding-right: 96px;
  }
}

.section {
  width: 100%;
  padding: 32px 0;
  @include media(desktop) {
    padding: 80px 0;
  }
}

.title {
  font-family: Fredoka;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;

  @include media(desktop) {
    font-size: 42px;
  }
}
